
.bgimg
{
	background-image:linear-gradient(rgba(225,161,44,0.1),rgba(241,29,40,0.3)), url(images/1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	background-size: cover;
	width: 100%;
}

 .mybtn 
{
	background-color: orangered;
	color: white;
	padding: 10px 12px;
	border: none;
	outline: none;
	font-size: 9px;
	
}
.mybtn:hover
{
	background-color: transparent;
	transition: 0.3s;
}
.box:hover
{
	border: 2px soild orangered;
	transition: 0.3s;

}


